.divbg {
    background-color: green
}
.btnstyle {
    color: blue;
    background-color: red
}
.btnstyle1 {
    color: white;
    background-color: blue
}
.btnstyle2 {
    color: yellow;
    background-color: green
}
.btnstyle3 {
    color: pink;
    background-color: violet
}




