.divbg {
    background-color: red
}
.btnstyle {
    color: blue;
    background-color: red
}

.divbg {
    background-color: red
}
.btnstyle {
    color:white;
    background-color:blue
}

.divbg {
    background-color: red
}
.btnstyle {
    color:red;
    background-color:green
}